// variable color

$yellow = #F8CB00
$purple = #6364D8
$orange = #FF5A00
$black = #131313
$gray = #8F8F8F
$lightGray = #FCF9F9

.c-gray
  color $gray
.c-yellow
  color $yellow
  
// variable font-size

.fz14
  font-size 14px

.fz16
  font-size 16px

.fz18
  font-size 18px
  
// mixin 

pad()
  @media (min-width 768px)
    {block}
web()
  @media (min-width 1200px)
    {block}

// base

h1,h2,h3,h4,h5,p
  margin 0

ul,li,a
  list-style none
  margin 0
  padding 0

body
  font-family 'Proxima Soft', sans-serif

.dib
  display inline-block

.shadow
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05)!important

.active
  color $yellow

// navbar

.navbar
  height 70px
  background $yellow
  color white
  .container
    padding 0
  +pad()
    .container
      padding 0 15px
  +web()
    height 166px
    display block
    .container
      padding 0 15px
  .navbar-mobile
    i
      font-size 22px
      cursor pointer
    input
      border none
      border-bottom 1px solid $yellow
      width 70%
      margin-top 8px
      &:focus
        outline none
    +web()
      display none
  .navbar-web
    display none
    +web()
      display block
      i,p
        color $black
        font-size 14px
        font-weight bold
      a
        display inline-block
        color black
        text-decoration none
        font-weight bold
    #login
      .modal-content
        width 500px
        height 400px
        background-image url('../images/bg-login.png')
        .btn
          position absolute
          background rgba(0,0,0,0)
          width 330px
          height 80px
          margin-left 85px
          margin-top 191px
          border-radius 50px
          &:hover
            box-shadow 0 5px 15px darken($yellow, 40%)
.navbar-mobile-toggle
  z-index 20
  position fixed
  width 100%
  background #252423
  left 0
  bottom 0
  top 0
  color white
  i
    font-size 26px
    cursor pointer
  .navbar-mobile-toggle-bar
    height 70px
    padding-top 20px
  .in-sidebar
    display none
    a
      color $gray
  .category-title
    padding 15px 0 15px 34px
    font-size 22px
    cursor pointer
    &:active, &:hover
      color $yellow
    li
      cursor pointer
      padding 10px 0
      &:hover
        color $yellow

// Main-content

.main
  .mobile-cart
    width 75px
    height 50px
    position fixed
    z-index 10
    background $yellow
    border-radius 25px
    bottom 30px
    right 30px
    box-shadow 0 0 10px rgba(0,0,0,.3)
    i,p
      color white
      font-size 18px
  +web()
    margin-top -70px
    .mobile-cart
      display none !important


.category
  padding-bottom 50px !important
  display none
  +web()
    display block
  .in-sidebar
    display none
    a
      color $gray
  .category-title
    font-weight bold
    font-size 18px
    color $black
    cursor pointer
  li
    margin 5px 0
    a
      color $gray
      padding-left 10px

.searchBar
  display none
  +web()
    display flex
    .search
      width 100%
      height 50px
      background white
      border-radius 5px
      border none
      padding 5px 20px 5px 40px
    i
      position absolute
      left 30px
      top 18px
      color #5C5C5C
    .btn-Cart
      width 100%
      background $purple
      height 50px
      border-radius 5px
      color white
      border none
      padding 0
      i
        color white
      .brn-Cart-left
        width 70%
        p
          padding-left 30px
          font-size 16px
          font-weight 300
      .brn-Cart-right
        width 30%
        padding-top 14px
        border-bottom-right-radius 5px
        border-top-right-radius 5px

.brand-title
  margin-top 45px
  display none
  +web()
    display flex
    p
      color $gray
    span
      margin-left 10px
      color darken(orange,10%)
      font-weight bold

.brand-line
  display none
  +web()
    display block

.product
  margin-top 20px
  +web()
    margin-top 25px
  .shadow
    min-height 100%
    img
      max-height 180px

// modal

.modal-dialog
  .modal-content
    i
      font-size 24px
    .modal-views
      padding-top 5px
      padding-left 3px
      letter-spacing 1px
      font-size 14px
      color $gray
    .modal-cost
      color $yellow
      font-size 20px
      font-weight bold
      letter-spacing 2px
    .modal-ml,.modal-description
      color $gray
      letter-spacing 1px
    .btn-cart
      margin-top 20px
      width 100%
      height 60px
      background $purple
      color white
      font-size 20px
      letter-spacing 1px
    .modal-status
      margin 0 15px
      width 100%
      padding 10px
      background #FCF9F9
      .dib
        margin-right 20px
      img,p
        display inline-block
      p
        font-size 20px
      img
        margin-top -7px
        margin-right 10px
        height 25px
    .modal-category
      width 0
      display none
      +web()
        width 48%
        display block
    .modal-close
      width 100%
      +web()
        width 48%
    .modal-main-img
      width 300px
      height 400px
      // justify-content center

#myCart2
  .modal-body
    background #FBFAF9
    span
      color $yellow
      letter-spacing 1px
    +web()
      i
        margin-top -55px
    
